.col-slug,
.col-branch {
  min-width: 15em;
}

.col-lookup {
  min-width: 3em;
}

#id-slugs-table {
  border-collapse: collapse;
}

#id-add-slug-btn,
.remove-slug-btn,
.slug-lookup-btn {
  width: 2em;
}

#id-slugs-table > tbody > tr > td,
#id-slugs-table > tfoot > tr > td {
  padding: 0.25em 0.5em;
}

#id-slugs-table > tbody > tr > :first-child,
#id-slugs-table > tfoot > tr > :first-child {
  padding-left: 0;
}

.slug-input,
.branch-select {
  width: 100%;
  /* margin: 0 0.25em; */
}

#id-compute-user-id {
  width: 100%;
}

#id-display {
  margin-top: 1em;
}

#id-environment {
  margin-bottom: 2em;
}
